<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BASE_DATA_DIR" value="MyCollegeChat" />
		<add key="USERS_COL_NAME" value="users" />
		<add key="MESSAGE_COL_NAME" value="messages" />
		<add key="CHAT_COL_NAME" value="chats" />
	</appSettings>
	<connectionStrings>
		<add name="MAIN_DB" connectionString="mongodb://localhost:27017/MyCollegeChat" />
	</connectionStrings>
</configuration>